

.border{
    border: 2px solid blue;
    margin: 25px;
}

.no-margin-bottom{
    margin-bottom: 0;
}
.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}

.no-border{
    border: none;
}

.invert{
    filter:invert(1)
}
.invert-part{
    filter:invert(.7);
}
.bg-transparent{
    background-color: transparent;
}
.bg-grey{
    background-color: #121212;
}
.bg-light-grey{
    background-color: #1f1f1f;
}
.column{
    flex-direction: column;
}

.rounded{
    border-radius: 8px;
}

.gap-n{
    gap: 18px;
}

.svg-width{
    width: 2vw;
}